In [1]:
import pandas as pd

In [14]:
x=pd.Series([1,3,4,5])

In [15]:
x

0    1
1    3
2    4
3    5
dtype: int64

In [6]:
x.values

array([1, 3, 4, 5], dtype=int64)

In [7]:
x.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
#index passsing
y=pd.Series([1,3,4,5], index=['a','b','c','d'])

In [9]:
y

a    1
b    3
c    4
d    5
dtype: int64

In [10]:
y.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
x[x>3]

2    4
3    5
dtype: int64

In [19]:
x*5

0     5
1    15
2    20
3    25
dtype: int64

In [20]:
#checking index
3 in x

True

In [23]:
6 in x

False

In [24]:
'b' in y

True

In [22]:
#checking values 
5 in x.values

True

In [26]:
x.isnull()

0    False
1    False
2    False
3    False
dtype: bool

In [27]:
x.notnull()

0    True
1    True
2    True
3    True
dtype: bool

In [28]:
r={
    'name':['noman','ali'],
    'age':[36, 44],
    'gender':['m','m']
}
frame= pd.DataFrame(r)

In [29]:
frame

   age gender   name
0   36      m  noman
1   44      m    ali

In [31]:
frame.name

0    noman
1      ali
Name: name, dtype: object

In [32]:
frame['name']

0    noman
1      ali
Name: name, dtype: object

In [34]:
frame.age > 40

0    False
1     True
Name: age, dtype: bool

In [35]:
frame[frame.age > 40]

   age gender name
1   44      m  ali

In [73]:
t={
    'name':['noman islam','Mohd ali kurd'],
    'age':[36, 44],
    'gender':['m','m'],
    'minage': [18,18]
}
framee= pd.DataFrame(t,index=['a','b'])

In [42]:
framee.loc['a']

age          36
gender        m
name      noman
Name: a, dtype: object

In [40]:
frame['age']=35
frame

   age gender   name
a   35      m  noman
b   35      m    ali

In [53]:
del framee['minage']

In [54]:
framee

   age gender   name
a   36      m  noman
b   44      m    ali

In [48]:
frame.columns

Index(['age', 'gender', 'name'], dtype='object')

In [62]:
t=frame.T

In [51]:
t

            a    b
age        35   35
gender      m    m
name    noman  ali

In [58]:
frame['age']

a    35
b    35
Name: age, dtype: int64

In [64]:
t

            a    b
age        35   35
gender      m    m
name    noman  ali

In [65]:
frame.iloc[1]

age        35
gender      m
name      ali
Name: b, dtype: object

In [66]:
import numpy as np

In [67]:
#applying sin function on age
np.sin(frame.age)

a   -0.428183
b   -0.428183
Name: age, dtype: float64

In [68]:
#applyning self made function

def myFun(age):
    if(age >= 18):
        return 'Adult'
    else:
        return 'Non Adult'

In [70]:
frame.age.apply(myFun)

a    Adult
b    Adult
Name: age, dtype: object

In [74]:
t

{'age': [36, 44],
 'gender': ['m', 'm'],
 'minage': [18, 18],
 'name': ['noman islam', 'Mohd ali kurd']}

In [77]:
def lastname(name):
    return name.split()[-1]

In [78]:
framee.name.apply(lastname)

a    islam
b     kurd
Name: name, dtype: object